streamlit==1.33.0
numpy==1.24.4
pandas==1.5.3
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
seqeval==1.2.2
python-crfsuite==0.9.9
nltk>=3.8.1
id_nusantara-1.1.tar.gz
sklearn-crfsuite==0.3.6
eli5
# scikit-learn==0.24.2